:host {
  display: block;
  margin-top: -5rem;
  color: white;
}

#contact-links {
  background-image: url(../../assets/images/footer/footer-bg-300.png);
  background-size: cover;
  padding: 7rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media screen and (min-width: 576px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-image: url(../../assets/images/footer/footer-bg-480.png);
  }
  @media screen and (min-width: 1000px) {
    background-image: url(../../assets/images/footer/footer-bg-960.png);
  }
  @media screen and (min-width: 2000px) {
    background-image: url(../../assets/images/footer/footer-bg-1440.png);
  }
}

#subscribe {
  input {
    width: 200px;
    height: 35px;
    margin: 1rem 0;
    border: none;
    border-radius: 22px 0 0 22px;
    -webkit-box-shadow: 0 0 8px 0 #190b49;
    box-shadow: 0 0 8px 0 #190b49;
    background-color: #ffffff;
    padding-left: 20px;
  }
  button {
    border-radius: 0 22px 22px 0;
    background-color: #ea5a24;
    -webkit-box-shadow: 0 0 8px 0 #190b49;
    box-shadow: 0 0 8px 0 #190b49;
  }
}

#social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0;
}

#info {
  background-color: #312265;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media screen and (min-width: 576px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

#address {
  h1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 3.54;
    letter-spacing: 1px;
    // color: #ffffff;
  }

  h2 {
    font-size: 1rem;

    span {
      font-weight: 400;
    }
  }
}

#message {
  h1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 3.54;
    letter-spacing: 1px;
    // color: #ffffff;
  }

  textarea {
    border: 1px solid white;
    border-radius: 3px;
  }
}

#sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  h1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 3.54;
    letter-spacing: 1px;
    // color: #ffffff;
  }

  #page-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    ul {
      li {
        list-style-type: none;

        a {
          color: white;
          padding: 0 10px;
        }
      }
    }
  }

  #last-link {
    color: #ea5a24;
    font-size: 1rem;
    text-align: center;
    margin: 1rem auto;
  }
}

#terms {
  background-color: #221551;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 0;

  @media screen and (min-width: 1024px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  a {
    color: white;
  }
}
