$bg-color: #fff;
$white: #fff;
$light-white: #fefefe;
$gray: #eee;
$transparent-gray: rgba(255, 255, 255, 0.5);
$black: #000;
$light-black: #18191b;
$transparent-black: rgba(24, 25, 27, 0.8);
$blue: #362868;
$light-blue: #312265;
$lighter-blue: #221551;
$lightest-blue: #ddd1fe;
$transparent-blue: rgba(49, 34, 101, 0.75);
$dark-orange: #ea5a24;
$light-orange: #ff8606;
