:host {
  padding: 2rem 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle r="2" cx="5" cy="5" fill="black"/></svg>');
  background-size: 30px 30px;
  margin-top: -11rem;
  padding-top: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;

  @media screen and (min-width: 1000px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

#description {
  @media screen and (min-width: 1000px) {
    width: 40%;
  }
}

.description-para {
  padding: 0 2rem;

  span {
    font-weight: bold;
  }
}

.description-btn {
  margin-left: 2rem;
}

#illustration {
  img {
    display: block;
  }
}
