
  <section id="description">
    <section class="description-header">
      <p class="header-bg">QS</p>
      <h1>¿Quiénes</h1>
      <h2>Somos?</h2>
    </section>
    <p class="description-para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
      <b
        >Pellentesque ultrices turpis quis metus ullamcorper ultricies. Donec
        vehicula vel orci quis pharetra.</b
      >
      Donec dictum mi id odio euismod consectetur. Donec sed velit ac purus
      sodales tempus ac ut nunc.
    </p>
    <button class="description-btn">
      Conócenos
    </button>
  </section>
  <section id="illustration">
    <img
      src="assets/images/la-agencia/illustration-200.png"
      alt=""
      srcset="
        assets/images/la-agencia/illustration-200.png   320w,
        assets/images/la-agencia/illustration-300.png   576w,
        assets/images/la-agencia/illustration-450.png  1000w,
        assets/images/la-agencia/illustration-1000.png 2500w
      "
    />
  </section>
