<section id="description">
  <section class="description-header">
    <p>QS</p>
    <p>¿Quiénes</p>
    <p>Somos?</p>
  </section>
  <p class="description-para">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
    ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
    <span
      >Pellentesque ultrices turpis quis metus ullamcorper ultricies. Donec
      vehicula vel orci quis pharetra.
    </span>
    Donec dictum mi id odio euismod consectetur. Donec sed velit ac purus
    sodales tempus ac ut nunc.
  </p>
  <button class="description-btn">
    Conócenos
  </button>
</section>
<section id="illustration">
  <img
  alt="An illustration of charts & graphs"
  srcset="
  agency/assets/images/la-agencia/illustration-450.png  450w,
  agency/assets/images/la-agencia/illustration-1000.png 1000w
  "
  sizes="(max-width: 576px) 70vw,
  (min-width: 576.1px) and (max-width: 1000px) 70vw,
  40vw"
  src="agency/assets/images/la-agencia/illustration-450.png"
  />
</section>
