<mat-sidenav-container
  class="sidenav-container"
  (swiperight)="drawer.open()"
  (swipeleft)="drawer.close()"
>
  <!-- Menu -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    role="navigation"
    mode="over"
    opened="false"
  >
    <mat-nav-list>
      <a
        *ngFor="let menuOption of menuOptions"
        mat-list-item
        href="#{{ menuOption.linkId }}"
        (click)="drawer.toggle()"
        class="nav-link"
      >
        {{ menuOption.menuText }}
      </a>
    </mat-nav-list>
    <a mat-flat-button color="warn" class="contact-btn" href="#contact" (click)="drawer.toggle()">
      Contáctanos
      <mat-icon inline="true">call</mat-icon>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Navbar -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        *ngIf="isLaptop ? false : true"
        id="menuIcon"
      >
        <!-- menu icon -->
        &#9776;
      </button>
      <a href="#home" id="navbar-logo">
        <!-- Logo -->
        <img src="assets/images/navbar/logo-100.png" alt="" />
      </a>
      <mat-nav-list *ngIf="isLaptop">
        <mat-nav-list>
          <a
            *ngFor="let menuOption of menuOptions"
            mat-list-item
            href="#{{ menuOption.linkId }}"
            class="nav-link"
          >
            {{ menuOption.menuText }}
          </a>
        </mat-nav-list>
      </mat-nav-list>
      <a mat-flat-button color="warn" *ngIf="isLaptop" class="contact-btn" href="#contact">
        Contáctanos <mat-icon inline="true">call</mat-icon>
      </a>
    </mat-toolbar>
    <app-home id="home"></app-home>
    <app-la-agencia id="la-agencia"></app-la-agencia>
    <app-servicios id="servicios"></app-servicios>
    <app-portafolio id="portafolio"></app-portafolio>
    <app-blog id="blog"></app-blog>
    <app-contact id="contact"></app-contact>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
