<section id="contact">
  <section id="contact-form">
    <section id="description">
      <section class="description-header">
        <p class="header-bg">PC</p>
        <h1>¡Ponte en</h1>
        <h2>Contacto!</h2>
      </section>
    </section>
    <form (ngSubmit)="sendMessage()" [formGroup]="contactForm">
      <mat-form-field color="warn">
        <input
          matInput
          type="text"
          placeholder="Nambra (required)"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field color="warn">
        <input
          matInput
          type="email"
          placeholder="Email (required)"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field color="warn">
        <input
          matInput
          type="text"
          placeholder="Celular"
          formControlName="mobile"
        />
      </mat-form-field>
      <mat-form-field color="warn">
        <input
          matInput
          type="textarea"
          placeholder="Tu mensaje (required)"
          formControlName="message"
        />
      </mat-form-field>
      <mat-checkbox color="warn" formControlName="terms">
        Acepto Términos y Condiciones
      </mat-checkbox>
      <button mat-raised-button type="submit">Enviar datos</button>
    </form>
  </section>
  <section id="contact-message">
    <h1>Te asesoramos</h1>
    <h2>loren ipsum dolor sit</h2>
    <h3>elit amet consectetur adipscing</h3>
    <img src="/assets/images/contact/keyboard-605.png" alt="" />
  </section>
</section>
