<section id="contact-form">
  <div class="description-header">
    <p>PC</p>
    <p>¡Ponte en</p>
    <p>Contacto!</p>
  </div>

  <form (ngSubmit)="sendMessage()" [formGroup]="contactForm">
    <mat-form-field color="warn">
      <input
        matInput
        type="text"
        placeholder="Nambra"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field color="warn">
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field color="warn">
      <input
        matInput
        type="text"
        placeholder="Celular (Optional)"
        formControlName="mobile"
      />
    </mat-form-field>
    <mat-form-field color="warn">
      <input
        matInput
        type="textarea"
        placeholder="Tu mensaje"
        formControlName="message"
      />
    </mat-form-field>
    <mat-checkbox color="warn" formControlName="terms">
      Acepto Términos y Condiciones
    </mat-checkbox>
    <button mat-raised-button type="submit" [disabled]="!contactForm.valid">Enviar datos</button>
  </form>
</section>
<div id="contact-message">
  <p>Te asesoramos</p>
  <p>loren ipsum dolor sit</p>
  <p>elit amet consectetur adipscing</p>
  <img
    alt="An image of orange keyboard"
    sizes="(max-width: 650px) 100vw,
      (min-width: 650.1px) and (max-width: 1000px) 70vw,
      40vw"
    srcset="
      agency/assets/images/contact/keyboard-450.png   450w,
      agency/assets/images/contact/keyboard-1000.png 1000w
    "
    src="agency/assets/images/contact/keyboard-450.png"
  />
</div>
