:host {
  display: block;
}

#description {
  .description-header {
    margin: 0 auto;
  }

  .description-para {
    width: 280px;
    margin: 0 auto;

    @media screen and (min-width: 450px) {
      width: 400px;
    }
  }

  .description-btn {
    display: block;
    margin: 2rem auto;
  }
}

#works {
  padding: 5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mat-card {
  width: 320px;
  text-align: center;
  margin: 0 1rem 4rem;

  border-radius: 30px;
  -webkit-box-shadow: 0 0 24px 0 rgba(15, 4, 52, 0.18);
  box-shadow: 0 0 24px 0 rgba(15, 4, 52, 0.18);

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 30px 24px 0 rgba(15, 4, 52, 0.12);
    box-shadow: 0px 30px 24px 0 rgba(15, 4, 52, 0.12);
  }

  .categoria {
    text-align: left;
    font-size: 1rem;
    font-style: italic;
  }

  img {
    width: 150px;
    height: 60px;
    margin: 2rem 0;
  }

  .mat-card-header {
    display: block;
    color: #312265;
  }
}
