<section id="portafolio">
  <section id="description">
    <section class="description-header">
      <p class="header-bg">CE</p>
      <h1>Casos</h1>
      <h2>de Éxito</h2>
    </section>
    <p class="description-para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      ullamcorper diam nisl, eget vulputate sapien scelerisque ut. Pellentesque
      ultrices turpis quis metus ullamcorper ultricies.
    </p>
    <button class="description-btn">
      Ver Portafolio
    </button>
  </section>

  <section id="works">
    <mat-card>
      <p class="categoria">Categoría</p>
      <img
        mat-card-image
        src="../../assets/images/portafolio/portfolio-1.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del caso de éxito 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ullamcorper libero et tempus bibendum.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <p class="categoria">Categoría</p>
      <img
        mat-card-image
        src="../../assets/images/portafolio/portfolio-2.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del caso de éxito 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ullamcorper libero et tempus bibendum.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <p class="categoria">Categoría</p>
      <img
        mat-card-image
        src="../../assets/images/portafolio/portfolio-3.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del caso de éxito 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ullamcorper libero et tempus bibendum.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <p class="categoria">Categoría</p>
      <img
        mat-card-image
        src="../../assets/images/portafolio/portfolio-4.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del caso de éxito 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ullamcorper libero et tempus bibendum.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <p class="categoria">Categoría</p>
      <img
        mat-card-image
        src="../../assets/images/portafolio/portfolio-5.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del caso de éxito 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ullamcorper libero et tempus bibendum.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <p class="categoria">Categoría</p>
      <img
        mat-card-image
        src="../../assets/images/portafolio/portfolio-6.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del caso de éxito 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ullamcorper libero et tempus bibendum.
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</section>
