:host {
  display: block;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle r="2" cx="5" cy="5" fill="black"/></svg>');
  background-size: 30px 30px;
}

#description {
  .description-header {
    margin: 0 auto;
  }

  .description-para {
    width: 280px;
    margin: 0 auto;

    @media screen and (min-width: 450px) {
      width: 400px;
    }
  }

  .description-btn {
    display: block;
    margin: 2rem auto;
  }
}

#works {
  padding: 5rem 10%;
}

.mat-card {
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 24px 0 rgba(15, 4, 52, 0.18);
  box-shadow: 0 0 24px 0 rgba(15, 4, 52, 0.18);

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 30px 24px 0 rgba(15, 4, 52, 0.12);
    box-shadow: 0px 30px 24px 0 rgba(15, 4, 52, 0.12);
  }

  .categoria {
    text-align: left;
    font-size: 1rem;
    font-style: italic;
  }

  img {
    width: 150px;
    height: 60px;
    margin: 2rem 0;
  }

  .mat-card-header {
    display: block;
    color: #312265;
  }
}
