<section id="services">
  <section id="description">
    <section class="description-header">
      <p class="header-bg">NS</p>
      <h1>Nuestros</h1>
      <h2>Servicios</h2>
    </section>
    <p class="description-para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      ullamcorper diam nisl, eget vulputate sapien scelerisque ut. Pellentesque
      ultrices turpis quis metus ullamcorper ultricies.
    </p>
    <button class="description-btn">
      Ver Servicios
    </button>
  </section>
  <section id="service-demo">
    <mat-card>
      <img
        mat-card-image
        src="/assets/images/servicios/service-1.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del Servicio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
        </p>
      </mat-card-content>
      <a href="#">Ver más</a>
    </mat-card>

    <mat-card>
      <img
        mat-card-image
        src="/assets/images/servicios/service-2.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del Servicio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
        </p>
      </mat-card-content>
      <a href="#">Ver más</a>
    </mat-card>

    <mat-card>
      <img
        mat-card-image
        src="/assets/images/servicios/service-3.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del Servicio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
        </p>
      </mat-card-content>
      <a href="#">Ver más</a>
    </mat-card>

    <mat-card>
      <img
        mat-card-image
        src="/assets/images/servicios/service-4.png"
        alt="#"
      />
      <mat-card-header>
        <mat-card-title>Nombre del Servicio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
        </p>
      </mat-card-content>
      <a href="#">Ver más</a>
    </mat-card>
  </section>
</section>
