<section id="blog">
  <section id="description">
    <section class="description-header">
      <p class="header-bg">RB</p>
      <h1>Te recomendamos</h1>
      <h2>Nuestro Blog</h2>
    </section>
    <p class="description-para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
      <b>Pellentesque ultrices turpis quis metus ullamcorper ultricies.</b>
      Donec vehicula vel orci quis pharetra. Donec dictum mi id odio euismod
      consectetur. Donec sed velit ac purus sodales tempus ac ut nunc.
    </p>
    <button class="description-btn">
      Ver todas las entradas
    </button>
  </section>
  <section id="post">
    <img
      src="assets/images/blog/blog-200.png"
      alt=""
      srcset="
        assets/images/blog/blog-200.png   576w,
        assets/images/blog/blog-300.png  1000w,
        assets/images/blog/blog-450.png  1440w,
        assets/images/blog/blog-1000.png 2500w
      "
    />
    <section id="post-details">
      <section id="post-header">
        <span id="author">Nombre del autor</span>
        <span id="date">23 / 01 / 2019</span>
      </section>
      <h1 id="post-title">
        Título de la entrada a doble línea, título de la entrada
      </h1>
      <p id="post-summary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        ullamcorper diam nisl, eget vulputate sapien scelerisque ut.
        Pellentesque ultrices turpis quis metus ullamcorper ultricies. Donec
        vehicula vel orci quis pharetra. Donec dictum mi id odio euismod
        consectetur. Donec sed velit ac purus sodales tempus ac ut nunc.
      </p>
      <a id="post-link" href="#">Seguír leyendo</a>
    </section>
  </section>
</section>
