<section id="home">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <section class="content">
        <section class="description">
          <h1>Somos</h1>
          <h2>una agencia que</h2>
          <h3>¡loren ipsum <b>dolor</b> sit!</h3>
          <button mat-flat-button class="cta-btn">
            Cuéntanos tu idea
          </button>
        </section>
        <section class="img">
          <img
            src="/assets/images/home/brain-456.png"
            alt=""
            srcset="
              /assets/images/home/brain-228.png  450w,
              /assets/images/home/brain-456.png 1000w
            "
          />
        </section>
      </section>
    </div>
    <div class="mySlides fade">
      <!-- <img src="/assets/images/home/bg-960.png" style="width:100vw" /> -->
      <section class="description">
        <h1>Somos</h1>
        <h2>una agencia que</h2>
        <h3>¡loren ipsum dolor sit!</h3>
        <button mat-flat-button class="cta-btn">
          Cuéntanos tu idea
        </button>
      </section>
      <section class="img">
        <img src="/assets/images/home/brain-456.png" alt="" />
      </section>
    </div>

    <a class="prev" (click)="plusSlides(-1)"><mat-icon>arrow_back</mat-icon></a>
    <a class="next" (click)="plusSlides(1)"
      ><mat-icon>arrow_forward</mat-icon></a
    >
  </div>
</section>
