<div class="slideshow-container">
  <section class="mySlides fade">
    <div class="content">
      <section class="description">
        <p>Somos</p>
        <p>una agencia que</p>
        <p>¡loren ipsum <span>dolor</span> sit!</p>
        <button mat-flat-button class="cta-btn">
          Cuéntanos tu idea
        </button>
      </section>
      <div class="img">
        <img
          alt="An image of human brain"
          srcset="
            /projects/agency/live-demo/assets/images/home/brain-300.png 300w,
            /projects/agency/live-demo/assets/images/home/brain-450.png 450w,
            /projects/agency/live-demo/assets/images/home/brain-999.png 999w
          "
          sizes="(max-width: 576px) 250px,
          (min-width: 576.1px) and (max-width: 1000px) 350px,
          40vw"
          src="/projects/agency/live-demo/assets/images/home/brain-300.png"
        />
      </div>
    </div>
  </section>
  <section class="mySlides fade">
    <div class="content">
      <p class="credits">
        Designed by
        <a
          href="https://www.behance.net/ndavidsan"
          target="_blank"
          rel="noopener noreferrer"
          class="profile-link"
          >Nelson David Sánchez</a
        >
      </p>
      <p class="credits">
        Developed by
        <a
          href="https://www.snsakib.com"
          target="_blank"
          rel="noopener noreferrer"
          class="profile-link"
          >Syed Nazmus Sakib</a
        >
      </p>
    </div>
  </section>

  <a class="prev" (click)="plusSlides(-1)"><mat-icon>arrow_back</mat-icon></a>
  <a class="next" (click)="plusSlides(1)"><mat-icon>arrow_forward</mat-icon></a>
</div>
