@import '../../assets/styles/variables';
@import '../../../node_modules/rfs/scss';

:host {
  display: block;
}

.mySlides {
  display: none;
  padding: 2rem 0;
  background-image: url('../../assets/images/home/bg-960.png');
  background-size: cover;
  background-position: center bottom;
  height: 85vh;
  @media screen and (min-width: 1000px) {
    padding: 5rem 0;
    background-image: url('../../assets/images/home/bg-1440.png');
  }

  .content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media screen and (min-width: 1000px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .description {
      p:nth-of-type(1) {
        @include rfs(120);
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.6;
        letter-spacing: 15px;
        text-align: center;
        color: $white;
      }

    p:nth-of-type(2) {
        @include rfs(35);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 3px;
        text-align: center;
        color: $light-blue;
        background-color: $white;
        padding: 3px;
        margin: 1rem 0;
      }

      p:nth-of-type(3) {
        @include rfs(25);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        text-align: center;
        color: $white;

        span {
          font-weight: bold;
        }
      }

      .cta-btn {
        @include rfs(18);
        display: block;
        color: $white;
        font-weight: 500;
        border-radius: 20px;
        -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#ea5a24), to(#ff8606));
        background-image: linear-gradient(to top, #ea5a24, #ff8606);
        margin: 1rem auto;
      }
    }

    .img {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
    }
  }

  .credits {
    font-size: 1.5rem;
    text-align: center;
    color: white;

    .profile-link {
      display: block;
      text-decoration: none;
      color: #bfbfbf;
      font-weight: 500;
      padding: 0.2em 0.3em;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: -webkit-gradient(
        linear,
        left top, right bottom,
        from(#f9d423),
        to(#f83600)
      );
      background-image: linear-gradient(
        to bottom right,
        #f9d423 0%,
        #f83600 100%
      );
      background-size: 100% 0.1em;
      background-repeat: no-repeat;
      background-position: left 0 bottom 5%;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      margin: 1rem 0;

      &:hover {
        background-size: 100% 100%;
        color: #0b0d0e;
      }
    }
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: $dark-orange;
  font-weight: bold;
  font-size: 30px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $white;
  border-radius: 0 50px 50px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50px 0 0 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
